<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>

<header>
    <nav class="navbar navbar-light bg-light">
        <div class="alert alert-danger" role="alert">
            <a class="navbar-brand" href="#">Электронный журнал</a></div>
    </nav>
</header>
<div align="center"> <font size=6> Привет, {{ username }} </font></div>
<div align="center"> <font size=6>У вас уже есть аккаунт? </font></div>
<div align="center"> <p><a href="{{ url_for('login') }}">Войти</a></p>
    <p><a href="{{ url_for('reqister') }}">Зарегестрироваться</a> </div> </p>
</body>
</html>